<h3> Your bookmarks: </h3>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li class="bookmark" id="bookmark-<%= bookmark.id %>">
    <a href="<%= bookmark.url %>" target="_blank">
      <%= bookmark.title %>
    </a>
    <form action ="/bookmarks/<%= bookmark.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE' />
      <input type="submit" value="Delete" />
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
      <input type="submit" value="Edit" />
    </form>
    <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
      <input type="submit" value="Add Comment" />
    </form>
    <ul>
    <% bookmark.comments.each do |comment| %>
      <li><%= comment.text %></li>
    <% end %>
    </ul>
  </li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <input type="text" name="New_url" placeholder="URL">
  <input type="text" name="New_title" placeholder="Title">
  <input type="submit" value="Submit new bookmark">
</form>

<%= flash[:notice] %>
